<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Block direct external access to these JSPs so users are forced to go through the Servlet controllers. -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected JSPs</web-resource-name>
            <url-pattern>/admin-customers.jsp</url-pattern>
            <url-pattern>/admin-products.jsp</url-pattern>
            <url-pattern>/admin-users.jsp</url-pattern>
            <url-pattern>/change-password.jsp</url-pattern>
            <url-pattern>/order-details.jsp</url-pattern>
            <url-pattern>/product.jsp</url-pattern>
            <url-pattern>/profile.jsp</url-pattern>
            <url-pattern>/shopping-cart.jsp</url-pattern>
            <url-pattern>/store.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint />
    </security-constraint>

</web-app>